* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;

}

:root {
    --primary-color: #4E7661;
    --black-color: #000;
    --white-color: #fff;
    --text-color: #7e7e7e;
    --section-color: #EDF1F0;
    --red-color: #ff0000;

    --transition-regular: 3s;
    --transition-slow: 6s;
}

html,
body {
    overflow-x: hidden !important;
}

/* Search Input */
.product-search input:hover,
.product-search input:focus {
    box-shadow: none !important;
    border: 1px solid rgba(131, 131, 131, 0.5);
    border-color: var(--primary-color);
    border-radius: 10px !important;
}

/* Cart Icon */
.cart-icon i {
    font-size: 2rem;
    cursor: pointer;
}

/* Cart Count Badge */
.cart-count {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--red-color);
    color: var(--white-color);
    position: absolute;
    top: 0;
    right: -60%;
}



.cart-sidebar{
    position: fixed;
    top: 0;
    right: -4000px;
    width: 500px;
    height: 100vh;
    background-color: var(--white-color);
    box-shadow: -2px 0 8px rgb(190, 189, 189);
    z-index: 1500;
    overflow-y: auto;
}
 
.cart-sidebar.open{
    right: 0;
}

.cart-body{
    height: 82vh;
    overflow-y: scroll;
}


